@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

/* Clases de utilidad -----*/
.btn {
  @apply px-4 py-2 rounded font-medium transition-colors;
}

.btn-primary {
  @apply bg-blue-600 rounded-xl text-white hover:bg-blue-900;
}

.btn-secondary {
  @apply bg-gray-600 text-white hover:bg-gray-900;
}

.btn-danger {
  @apply bg-red-500 text-white hover:bg-red-900;
}

.input {
  @apply w-full px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600;
}
